{% extends 'base.html.twig' %}
{% block body %}
    <div id="login_page">
        <h1>Login</h1>
        <a class="social-button facebook" id="facebook_login_button" href="{{ url("hwi_oauth_service_redirect", {service: "facebook"}) }}">Sign in with Facebook</a>
        <a class="social-button google" href="{{ url("hwi_oauth_service_redirect", {service: "google"}) }}">Sign in with Google</a>
        <a class="social-button live" href="{{ url("hwi_oauth_service_redirect", {service: "live"}) }}">Sign in with Live</a>
        <a class="social-button twitter" href="{{ url("hwi_oauth_service_redirect", {service: "twitter"}) }}">Sign in with Twitter</a>





        <div id="fb-root"></div>
        <!-- https://github.com/ioanb7/HWIOAuthBundleByExample/blob/master/app/Resources/views/default/login.html.twig -->
        <script>


        </script>
    </div>
{% endblock %}