# To get started with security, check out the documentation:
# http://symfony.com/doc/current/security.html
security:
    providers:
        oauth_user_provider:
            id: hwi_oauth.user.provider.entity
    firewalls:
        # disables authentication for assets and the profiler, adapt it according to your needs
        dev:
            pattern: ^/(_(profiler|wdt)|css|images|js)/
            security: false

        login_firewall:
            pattern:    ^/login$
            security: false

        secured_area:
            pattern: ^/login
            anonymous: ~
            oauth:
                resource_owners:
                    #facebook:           "/login/check-facebook"
                    google:             "/login/check-google"
                    #my_custom_provider: "/login/check-custom"
                    #my_github:          "/login/check-github"
                login_path:        /login
                use_forward:       false
                failure_path:      /login
                oauth_user_provider:
                  service: hwi_oauth.user.provider.entity

    access_control:
        - { path: ^/login, roles: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/logged, roles: ROLE_USER }
        - { path: ^/pello, roles: ROLE_USER }
        - { path: ^/admin, roles: ROLE_ADMIN }